<h1>Editing your timetable</h1>

<div class="text-center">
  <div class="btn btn-info">
    <%= link_to "Get my timetable (experimental)", "http://wwwetu.utc.fr/sme/EDT/#{current_user.username}.edt", target: '_blank' %>
  </div>
</div>

<%= render 'form' %>

<%= link_to 'Show', @script %> |
<%= link_to 'Back', scripts_path %>
