<p id="notice"><%= notice %></p>

<p>
  <strong>Script:</strong><br>
  <%= simple_format(@script.script) %>
</p>

<%= link_to 'Edit', edit_script_path(@script) %> |
<%= link_to 'Back', scripts_path %>
